extends layout

block content
  h1= title
  h2= msg
  p Welcome to #{title}
  hr
  a(href='/enrollment') Start enrollment

  <h1>Take a snapshot of the current video stream</h1>
  Click on the Start WebCam button.
  <p>
   <button onclick="startWebcam();">Start WebCam</button>
   <button onclick="stopWebcam();">Stop WebCam</button>
   <button onclick="snapshot();">Take Snapshot</button>
  </p>
  <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
  <p>Screenshots : <p>
  <canvas  id="myCanvas" width="400" height="350"></canvas>

  <form action="/api/traning/images" method="post" enctype="multipart/form-data">
   <input type="file" name="filetoupload"><br>
   <input type="submit">
  </form>
