extends layout

block content
  h1= title
  h2= msg
  p Welcome to #{title}
  hr
  a(href='/enrollment') Start enrollment <br> <br>
  <p>Name: <input type="text" name="className" id="className"></p>
  <p>
   <button onclick="startWebcam();">Start WebCam</button>
   <button onclick="snapshot();">Take Snapshot</button>
  </p>
  <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
  <p>Screenshots : <p>

  <canvas  id="myCanvas" width="400" height="350"></canvas>
